<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--클래스 alias가 들어갈 공간-->
        <!--
        <typeAlias type="com.highgarden.springboot_board.controller.IndexController" alias="IndexController"></typeAlias>
        -->
        <!--indexController예시-->


    </typeAliases>
</configuration>