body {
    font-family: Arial, sans-serif;
}

.careForm-container {
    width: 600px;
    margin: 50px auto;
}

.careForm-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 120px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}

.form-group input[type="file"] {
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.submit-btn {
    margin: 20px auto;
    background-color: #08612C;
    color: white;
    border: none;
    width: 180px;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

.submit-btn:hover {
    background-color: #0b5ed7;
}
