.main-top{

}

.main-left{
    display:inline-block;
    padding-left:200px;
    padding-top:60px;
}

.main-left-title{
    font-size:40px;
    font-weight:bold;
}

.main-center{
    display:inline-block;
    padding-left:30px;


}

.main-center > img{

    width:150px;
    height:150px;
    margin-bottom:100px;


}

.main-right{
    display:inline-block;
    padding-left:200px;
    padding-top:50px;

}
.main-right-topbox{

    border: 1px solid #000000;
    border-radius: 15px;

}

.main-right-topbox-content{
    padding:20px;
}

.main-right-topbox-leftbox{
    display:inline-block;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-left:25px;
    margin-bottom:15px;
    padding:6px 20px;
    background-color:#F3FFCC;

}

.main-right-topbox-rightbox{
    display:inline-block;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-left:20px;
    margin-bottom:15px;
    padding:6px 25px;
    background-color:#F3FFCC;
}

.main-right-botbox{
    border: 1px solid #000000;
    border-radius: 15px;
    margin-top:30px;
    padding:8px 10px;
    font-weight:bold;
    background-color:#ffffff;

}

.bottom-box-container{
    display: flex;
    justify-content: center;
    gap: 70px;

}

.bottom-box{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;

}

#box1{
    background-color:#FFFDCF;
}

#box2{
    background-color:#FFD7F5;
}

#box3{
    background-color:#D0F8FF;
}

.bottom-box img{
    width:50px;
    height:50px;
    object-fit: cover;
    margin-bottom:5px;

}

.bottom-box-title{
    font-size:20px;
    font-weight:bold;
    margin-bottom:5px;
}

.bottom-box-content{

}
