h4 {
    font-weight: 700;
}

section {
    margin: 80px 20%;
}

.frame {
	margin: 80px auto;
	text-align: center;
}

table {
	width: 80%;
	margin: auto;
	border-spacing: 0;
	border-style: none;
	padding: 0;
}

th {
	height: 40px;
	border: 1px solid white;
	background-color: #08612C;
	color: white;
}

#left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

td {
	height: 45px;
	border: 1px solid #08612C;
	background-color: white;
	color: #08612C;
}

#blank {
	height: 5px;
	border-style: none;
}

#noForm {
    color: #08612C;
    font-weight: bold;
    margin: 120px;
}

.pageBar {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 40px;
}

.page-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
  color: black;
}

.page-button.current {
  background-color: #08612C;
  color: white;
  font-weight: bold;
  border: 1px solid #08612C;
}

.page-button.invisible {
  visibility: hidden;
}

.pageNum {
    margin: 0 15px;
}