input[type="date"] {
    width: 180px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #08612C;
    margin: 10px;
}

textarea{
    resize:none;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.buttonStyle {
    border-radius: 5px;
    padding: 8px 30px;
    margin: 20px;
    border-style: solid;
    border-color: #08612C;
    text-align: center;
    background-color:#08612C;
    color: white;
}