h4 {
    font-weight: 700;
}

section {
    margin: 80px 20%;
}

.frame {
    margin: 60px auto;
    width: 900px;
    place-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(340px, auto);
    grid-gap: 25px 30px;
    place-items: center;
    padding: 15px;
}

.card {
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 230px;
    place-items: center;
}

.card p, checkbox {
    margin: 0;
}

.title {
    font-weight:bold;
    font-size: 1.1rem;
}

.element {
    margin: 45px 0;
}

.detail input {
    display: none
}

.detail input + label + div {
    display: none;
    width: 90%;
    height: 90%;
    background-color: white;
    border: 2px solid #08612C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail input:checked + label + div {
    display: block;
}

.detailContent {
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.detail input + label + div label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-35%, -35%);
    background-color: #08612C;
    color: white;
    padding: 12px;
    margin: 0;
    border-radius: 100%;
}

.detailClick {
    border-bottom: 2px solid white;
}

.detailClick:hover {
    border-bottom: 2px solid #08612C;
}

.buttonStyle {
    border-radius: 5px;
    padding: 8px 5px;
    border-style: solid;
    border-color: #08612C;
    text-align: center;
    background-color:#08612C;
    color: white;
    width: 120px;
}


#noForm {
    color: #08612C;
    font-weight: bold;
    margin: 120px;
}

.pageBar {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 40px;
}

.page-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
  color: black;
}

.page-button.current {
  background-color: #08612C;
  color: white;
  font-weight: bold;
  border: 1px solid #08612C;
}

.page-button.invisible {
  visibility: hidden;
}

.pageNum {
    margin: 0 15px;
}