<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>돌숲</title>
    <link rel="stylesheet" th:href="@{/css/myUrgentReservations.css}">
</head>

<body>
<th:block layout:fragment="content">
    <section>
        <h4>긴급 돌봄 예약 내역</h4>

        <div class="frame" th:if="${resList.size() != 0}">
            <div>
                <table>
                    <thead>
                    <tr class="header">
                        <th id="left">날짜</th>
                        <th>유형</th>
                        <th id="right">신청서 확인</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td colspan="4" id="blank"></td></tr>
                    <tr th:each="list: ${resList}">
                        <td th:text="${list.careDate}">날짜</td>
                        <td th:text="${list.category}">유형</td>
                        <td>
                            <a th:if="${list.careDate.equals(today)}" th:href="@{/urgent/form/view/{formNum}(formNum=${list.formNum})}">신청서 확인</a>
                            <span th:unless="${list.careDate.equals(today)}">만료</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pageBar">
                <a th:href="@{|/urgent/myReservations?page=1|}" th:class="'page-button ' + (${currentPage == 1} ? 'invisible' : '')">«</a>
                <a th:href="@{|/urgent/myReservations?page=${currentPage - 1}|}" th:class="'page-button ' + (${currentPage == 1} ? 'invisible' : '')">‹</a>

                <div class="pageNum">
                    <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a th:href="@{|/urgent/myReservations?page=${i}|}" th:text="${i}" th:class="'page-button ' + (${i == currentPage} ? 'current' : '')"></a>
                    </span>
                </div>

                <a th:href="@{|/urgent/myReservations?page=${currentPage + 1}|}" th:class="'page-button ' + (${currentPage == totalPages} ? 'invisible' : '')">›</a>
                <a th:href="@{|/urgent/myReservations?page=${totalPages}|}" th:class="'page-button ' + (${currentPage == totalPages} ? 'invisible' : '')">»</a>
            </div>
        </div>

        <div class="frame" th:unless="${resList.size() != 0}">
            <p id="noForm">예약 내역이 없습니다.</p>
        </div>
    </section>
</th:block>
</body>
</html>