<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>돌보미 이력서</title>
    <link rel="stylesheet" th:href="@{/css/resume.css}">
</head>


<body>
<th:block layout:fragment="content">
    <div class="resume-container">
        <div class="resume-title" th:if="${resume == null}">돌보미 이력서 작성</div>
        <div class="resume-title" th:unless="${resume == null}">돌보미 이력서 수정</div>
        <form th:action="@{/resume/save}" method="post" enctype="multipart/form-data" id="frm">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" placeholder="이름을 입력하세요." readonly
                       th:value="${member.name}">
            </div>

            <div class="form-group">
                <label for="age">나이</label>
                <input type="number" id="age" name="age" placeholder="나이를 입력하세요." required
                       th:value="${(resume == null) ? '' : resume.age}">
            </div>

            <div class="form-group">
                <label for="phoneNumber">연락처</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="연락처를 입력하세요. (- 포함)" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required
                       th:value="${(resume == null) ? '' : resume.phoneNumber}">
            </div>

            <div class="form-group">
                <label for="region">지역</label>
                <input type="text" id="region" name="region" th:value="${member.region}" readonly required>
            </div>

            <div class="form-group">
                <label for="careType">돌봄 유형</label>
                <select id="careType" name="careType" required>
                    <option th:value="${(resume == null) ? '' : resume.careType}" th:text="${(resume == null) ? '선택' : resume.careType}" selected hidden>선택</option>
                    <option value="정기">정기</option>
                    <option value="일시">일시</option>
                    <!-- <option value="긴급">긴급</option> -->
                </select>
            </div>

            <div class="form-group">
                <label>돌봄 가능 요일</label><br>
                <input type="checkbox" name="careDays" value="월" th:checked="${(resume != null) and resume.careDay.contains('월')}"> 월
                <input type="checkbox" name="careDays" value="화" th:checked="${(resume != null) and resume.careDay.contains('화')}"> 화
                <input type="checkbox" name="careDays" value="수" th:checked="${(resume != null) and resume.careDay.contains('수')}"> 수
                <input type="checkbox" name="careDays" value="목" th:checked="${(resume != null) and resume.careDay.contains('목')}"> 목
                <input type="checkbox" name="careDays" value="금" th:checked="${(resume != null) and resume.careDay.contains('금')}"> 금
                <input type="checkbox" name="careDays" value="토" th:checked="${(resume != null) and resume.careDay.contains('토')}"> 토
                <input type="checkbox" name="careDays" value="일" th:checked="${(resume != null) and resume.careDay.contains('일')}"> 일
            </div>

            <div class="form-group">
                <label for="careStartTime">시작 시간</label>
                <select id="careStartTime" name="careStartTime" required>
                    <option th:value="${(resume == null) ? '' : resume.careStartTime}" th:text="${(resume == null) ? '선택' : resume.careStartTime}" selected hidden>선택</option>
                    <th:block th:each="time : ${timeOptions}">
                        <option th:value="${time}" th:text="${time}"></option>
                    </th:block>
                </select>
            </div>

            <div class="form-group">
                <label for="careEndTime">종료 시간</label>
                <select id="careEndTime" name="careEndTime" required>
                    <option th:value="${(resume == null) ? '' : resume.careEndTime}" th:text="${(resume == null) ? '선택' : resume.careEndTime}" selected hidden>선택</option>
                    <th:block th:each="time : ${timeOptions}">
                        <option th:value="${time}" th:text="${time}"></option>
                    </th:block>
                </select>
            </div>

            <div class="form-group">
                <label for="career">경력 사항</label>
                <input type="text" id="career" name="career" placeholder="경력 사항을 입력하세요." required
                       th:value="${(resume == null) ? '' : resume.career}">
            </div>

            <div class="form-group">
                <label for="introduction">소개글 작성</label>
                <textarea id="introduction" name="introduction" rows="5" placeholder="소개글을 입력하세요." required
                          th:text="${(resume == null) ? '' : resume.introduction}"></textarea>
            </div>
            <div class="form-group">
                <label for="certificateText">자격 사항</label>
                <textarea id="certificateText" name="certificateText" rows="1" placeholder="자격증을 입력해주세요"
                          th:text="${(resume == null) ? '' : resume.certificateText}"></textarea>
            </div>

            <div class="form-group">
                <div class="file-upload-row">
                    <label>자격증 업로드</label>
                    <div id="file-input-wrapper">
                        <input type="file" name="certificateFiles" multiple>
                    </div>
                    <button type="button" id="add-file-btn">파일 추가</button>
                </div>
            </div>

            <script>
                const wrapper = document.getElementById('file-input-wrapper');
                const listElement = document.getElementById('file-list');
                const addBtn = document.getElementById('add-file-btn');

                addBtn.addEventListener('click', () => {
                    const input = document.createElement('input');
                    input.type = 'file';
                    input.name = 'certificateFiles';
                    input.multiple = true;

                    input.addEventListener('change', function () {
                        for (let i = 0; i < input.files.length; i++) {
                            const li = document.createElement('li');
                            li.textContent = input.files[i].name;
                            listElement.appendChild(li);
                        }
                    });

                    wrapper.appendChild(input);
                });
            </script>

            <div class="certificate-grid">
                <div class="certificate" th:each="cert : ${certificateFiles}">
                    <a th:href="${cert.url}" target="_blank" style="text-decoration: none;">
                        <span class="filename" th:text="${cert.originalName}"></span>
                    </a>
                    <button type="button" class="fileDelBtn" th:data-id="${cert.id}" onclick="deleteFile(this)">X</button>
                </div>
            </div>

            <div class="form-group">
                <label for="photo">사진 업로드</label>
                <input type="file" id="photo" name="photoFile"
                       th:style="${photo != null} ? 'display: none;' : ''" >
            </div>

            <div class="photo-grid">
                <div class="photo" id="photoList" th:if="${photo != null}">
                    <a th:href="${photo.url}" target="_blank" style="text-decoration: none;">
                        <span class="filename" th:text="${photo.originalName}"></span>
                    </a>
                    <button type="button" class="fileDelBtn" th:data-id="${photo.id}" onclick="deleteFile(this, 'photo')">X</button>
                </div>
            </div>

            <script>
                function deleteFile(button, type) {
                    const id = button.dataset.id;

                    if (!confirm("해당 파일을 삭제하시겠습니까?")) return;

                    fetch(`/s3test/delete?id=${id}`, {
                        method: 'DELETE'
                    })
                    .then(res => {
                        if (res.ok) {
                            if(type == 'photo') {
                                button.closest('.photo').remove();
                                const photo = document.getElementById('photo');
                                if (photo) photo.style.display = 'block';
                            } else
                                button.closest('.certificate').remove();
                        } else {
                            alert("다음에 다시 시도해주세요.");
                        }
                    });
                }
            </script>

            <button type="submit" class="submit-btn" th:if="${resume == null}">등록</button>
        </form>

        <div class="buttons" th:unless="${resume == null}">
            <button type="button" class="buttonStyle" onclick="editBtn()">수정</button>
            <script>
                function editBtn() {
		                const editForm = document.getElementById('frm');
                    if(editForm.checkValidity()) {
                        editForm.action = '/myPage/resume/edit'
                        editForm.submit();
                    } else {
                        editForm.reportValidity();
                    }
                }
            </script>

            <form method="post" th:action="@{/myPage/resume/delete}" style="display: inline-block;">
                <input type="hidden" name="memNum" th:value="${resume.memNum}">
                <button type="submit" class="buttonStyle" id="delBtn" onclick="return confirm('이력서를 삭제하시겠습니까?')">삭제</button>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>
