<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>돌숲</title>
    <link rel="stylesheet" th:href="@{/css/urgentForm.css}">
    <script th:inline="javascript" th:if="${form != null}">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function () {

        const radio = document.getElementsByName("category");
        for (let i = 0; i < radio.length; i++) {
            if(radio[i].value == /*[[${form.category}]]*/ "") {
                radio[i].checked = true;
                break;
             }
        }

        document.querySelectorAll('input:not([type="hidden"], [type="radio"]), textarea').forEach(a => {a.readOnly=true;});
        });
        /*]]>*/
    </script>
</head>

<body>
<th:block layout:fragment="content">
    <section>
        <h4>긴급 돌봄 신청서</h4>

        <form method="post" th:action="@{/urgent/form}">
            <div class="container">
                <b>유형</b>
                <div class="radioButtons">
                    <label><input type="radio" name="category" value="등하교" th:disabled="${(form == null) ? false : true}" required>등하교</label>
                    <label><input type="radio" name="category" value="돌봄" th:disabled="${(form == null) ? false : true}">돌봄</label>
                    <label><input type="radio" name="category" value="라이딩" th:disabled="${(form == null) ? false : true}">라이딩</label>
                    <label><input type="radio" name="category" value="기타" th:disabled="${(form == null) ? false : true}">기타</label>
                </div>

                <b>지역</b>
                <input type="text" th:value="${(form == null) ? region : form.region}" th:disabled="${(form == null) ? true : false}">
                <input type="hidden" name="region" th:value="${region}">

                <b>위치</b>
                <input type="text" name="location" th:value="${(form == null) ? '' : form.location}" required>

                <b>시간</b>
                <input type="text" name="careTime" placeholder="돌봄의 경우, 시간대를 작성해주세요. 예) 12시~5시" th:value="${(form == null) ? '' : form.careTime}" required>

                <b>보호자 연락처</b>
                <input type="tel" name="phoneNumber" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" placeholder="-를 포함해 입력해주세요." th:value="${(form == null) ? '' : form.phoneNumber}" required>

                <label><b>특이사항</b></label>
                <textarea name="information" placeholder="아이 나이, 상태 등을 적어주세요. 개인정보를 적지 않도록 주의하세요." rows=8 th:text="${(form == null) ? '' : form.information}" style="resize: none;" required></textarea>
            </div>

            <div class="buttons" th:if="${type == 'input'}">
                <button type="button" class="buttonStyle" id="backBtn" onclick="history.back()">취소</button>
                <button type="submit" class="buttonStyle" id="subBtn">등록</button>
            </div>
        </form>

        <div class="buttons" th:if="${type == 'PARENTS'}">
            <form method="post" th:action="@{/urgent/form/view/delete}" >
                <input type="hidden" name="formNum" th:value="${form.num}">
                <button type="submit" class="buttonStyle" onclick="return confirm('신청서를 삭제하시겠습니까?')">삭제</button>
            </form>
        </div>

        <div class="buttons" th:if="${type == 'SITTER'}">
            <button type="button" class="buttonStyle" th:onclick="history.back()">확인</button>
        </div>
    </section>
</th:block>
</body>
</html>