<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Message">

    <insert id="save">
        INSERT INTO message (mem_num, agreement)
        VALUES (#{memNum}, #{agreement})
    </insert>

    <select id="findByMemNum" resultType="boolean">
        SELECT agreement
        FROM message
        WHERE mem_num = #{memNum}
    </select>

    <update id="update">
        UPDATE message
        SET agreement = #{agreement}
        WHERE mem_num = #{memNum}
    </update>

</mapper>